body {
  background: #f5f6f5;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

.index {
  width: 100vw;
  height: 100vh;
}

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  background: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?cs=srgb&dl=pexels-c%C3%A1tia-matos-1072179.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 5.5rem;
  }
}
